.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
  font-family: "Segoe UI", sans-serif;
}

/* Sidebar */
.dashboard-sidebar {
  width: 80px;
  background-color: #f0fff4;
  border-right: 1px solid #e5e7eb;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  left: 0px;
  top: 60px;
  height: calc(100vh - 100px);
  bottom: 0;
  z-index: 1000;
  transition: width 0.3s;
  overflow: hidden;
}

/* When you hover sidebar expand */
.dashboard-sidebar:hover {
  width: 220px;
}

/* Sidebar Links */
.dashboard-link {
  width: 100%;
  color: #138049;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  font-family: "Segoe UI", sans-serif;
}

/* Only icon visible initially */
.dashboard-link .label {
  opacity: 0;
  transition: opacity 0.3s;
}

/* When hover sidebar - show label */
.dashboard-sidebar:hover .dashboard-link .label {
  opacity: 1;
}

/* Hover effect */
.dashboard-link:hover {
  background-color: #157d49;
  color: #ffffff;
  text-decoration: none;
}

/* Active Link */
.active-link {
  background-color: #bbf7d0;
  color: #333;
}

/* Main Content */
.dashboard-main {
  flex: 1;
  margin-left: 80px;
  transition: margin-left 0.3s;
}

/* When sidebar expand */
.dashboard-sidebar:hover ~ .dashboard-main {
  margin-left: 220px;
}

/* Responsive */

/* For 600px and Below (Mobile) */
@media screen and (max-width: 600px) {
  .dashboard-layout {
    flex-direction: column;
  }

  .dashboard-sidebar {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    top: 91%;
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
    position: fixed;
    overflow-x: auto;
    gap: 5px;
    overflow: auto;
  }

  .dashboard-sidebar:hover {
    width: 100%;
  }

  .dashboard-link {
    flex-direction: column;
    gap: 0px;
    padding:0 18px;
    width: auto;
    min-width: 60px;
    text-align: center;
  }

  .dashboard-link .label {
    opacity: 1;
    font-size: 12px;
    text-wrap: initial;
  }

  .dashboard-sidebar:hover .dashboard-link .label {
    opacity: 1;
  }

  .dashboard-link .icon {
    font-size: 20px;
  }

  .dashboard-main {
    margin-left: 0;
    /* margin-top: 100px; */
    padding: 0px;
  }

  .dashboard-sidebar:hover ~ .dashboard-main {
    margin-left: 0;
  }
}

/* For 900px to 600px (Tablet) */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .dashboard-layout {
    flex-direction: row;
    overflow: hidden;
  }

  .dashboard-sidebar {
    /* top: -60px; */
    width: 60px;
    padding: 15px 0;
    gap: 15px;
    justify-content: start;
     }

  .dashboard-sidebar:hover {
    width: 180px;
  }

  .dashboard-link {
    padding: 8px 15px;
    gap: 12px;
  }

  .dashboard-link .label {
    opacity: 0;
    font-size: 14px;
  }

  .dashboard-sidebar:hover .dashboard-link .label {
    opacity: 1;
  }

  .dashboard-link .icon {
    font-size: 22px;
  }

  .dashboard-main {
    margin-left: 0px;
    /* padding: 30px; */
  }

  .dashboard-sidebar:hover ~ .dashboard-main {
    margin-left: 180px;
  }
}
